*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #0b0b0f;
    width: 100%;
   
}

.navbar{
    /* display: none; */
    background: linear-gradient(to right,#0b0b0f,#0b0b0f );
    /* border-bottom: 1px solid red; */
    width: 100%;
    color: white;
}
.navbar-brand img{
    margin-left: 10px;
}
.navbar-nav .nav-link {
    text-align: center;
    margin: 20px;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.active{
    text-align: center;
    margin: 20px;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;    
}

.container-fluid{
    display: flex;justify-content: space-between;
    align-items: center;
}
.navbar-nav  li :hover{
    /* border: 1px solid red; */
    background-color: rgb(255, 8, 8);
    padding-bottom: 10px;
    color: white;
}

.navbar button{
    border: 1px solid white;
    background-color: antiquewhite;
}
.search{
    margin-top: 5%;
    padding: 3%;
    width: 100vh;
    background-color: #050608;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(187, 186, 186, 0.685);
}
.container-lg .container-fluid img{
    width: 50%;
    height: 90%;
}
 h3{
    position: absolute;
    z-index: 1;
    top: 8%;
    left: 0;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
h4{
    text-align: center;
    color: orangered;
    font-size: 30px;
    font-weight: 600;
}
form{
    width: 100%;
    padding: 10px;
    
}
form label{
    color: white;
}
.navbar .container {
    display: flex;
    justify-content: space-between; width: 100%;
    /* flex-wrap: wrap; */
}
.container-lg{
    position: relative;
    max-width: 100%;
    height: 100%;
    margin-top: 140px;
    /* border: 1px solid white; */
}
.home{
    max-width: 100%;
    height: 100%;
}
.home img{
    width: 100%;
  height: 80vh;
  background-size: cover;
  filter: brightness(40%);
}
.home p{
    position: absolute;
    padding: 10px;
    top: 20%;
    left: 0;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bolder;
    /* animation: typing 5s steps(40, end) forwards; */
  }

/* @keyframes typing { from { width: 0; } to { width: 100%; } }
.search label{
    color: rgb(226, 225, 225);
} */
form input{
    background-color: transparent;
    margin-bottom: 20px;
    height: 45px;
    border: 2px solid rgb(255, 184, 144);
    outline: none;
    border-radius: 8px;width: 100%;
    padding: 10px;color: rgb(255, 115, 0);
}
.date-time{
    display: flex;
}
[type~="date"]{
    color: orangered;
    font-weight: bold;
    margin: 10px;
}
[type~=time]{
    color: orangered;
    margin: 10px;
}
[type~=button]{
    background: linear-gradient(orange, rgb(255, 102, 0));outline: none;border: 0;
    color: white;font-size: 20px;
}
.collapse{
    display: flex;
    justify-content: space-around;
}
span{
    color: red;
    font-weight: bold;
}
footer{
    background-color: #000000;
    max-width: 100%;
    margin-top: 50px;
}
footer .logo{
    width: 50%;
}

footer p{
    color: rgb(255, 145, 0);text-align: center;
    padding: 10px;
}
footer .list{
    margin-top: 40px;
    display: grid;
    justify-content: center;
}
.list p{
    font-weight: bold;text-align: center;color: orange;
}
.list li{
    text-align: left;
    list-style: none;
    color: white;
    line-height: 30px;
    cursor: pointer;
}
footer .first-col ul :hover{
    color: orange;
}
footer .location{
    margin-top: 40px;
    display: grid;
    justify-content: center;
}
.first-col .location p{
    font-weight: bold;
    text-align: center;color: orange;
}
.location li{
    text-align: left;
    list-style: none;
    color: white;
    line-height: 30px;
    cursor: pointer;
}
.first-col{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.first-col .logo img{
    width: 35%;height: 90%;
    margin-left: 50px;
}
.features{
    margin-top: 40px;
    display: grid;
    justify-content: center;
}
.features p{
    color: orange;
    font-weight: bold;
    text-align: center;
}
.features li{
    text-align: left;
    list-style: none;
    color: white;
    line-height: 30px; 
    cursor: pointer;
}
footer .social{
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.social .soci-ico{
    padding: 10px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.social a {
    margin: 10px;
    color: white;

}
.soci-ico i{
    font-size: 40px;
    padding: 10px;
}
.social p{
    font-size: 20px; font-weight: bold;text-align: center;color: orange;
}
.soci-ico a :hover{
    background-color: white; color: black;
    border-radius: 10px;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: linear-gradient(orange,rgb(255, 65, 52));
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #f1d5d5;
  }
  
  /* For Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: #ff5100 #ffb006;
  }
  
  /* For IE and Edge */
  body {
    -ms-overflow-style: none;
  }
  
  body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: linear-gradient(orange,rgb(255, 65, 52));
  }
  
  body::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #660000;
  }
  
  .home {
    text-align: center;
    margin-top: 100px;
  }
  
  .home h3 {
    border-right: 0.15em solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(40, end) forwards;
    font-size: 2rem;
    font-weight: bold;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
.contfollow{
    display: flex;
    justify-content: space-evenly;
    background:linear-gradient(120deg,black, rgb(10, 11, 15));
}
.contact {
    margin-top: 5px;padding: 4px;
}
.contact i{
    color: orange;
    font-weight: bold;padding: 10px;
    float: left;
}
.contact p{
    margin: 10px; color: orange;
    font-weight: bold;
}
.contact .continfo {
    color: white;
    margin: 0;
    font-weight: lighter;
}
.aboutus{
    margin-top: 3rem;
    padding: 10px;
    background-color: #0a0a0c;
}
.aboutus .cards{
    display: flex;
    gap: 20px; /* Adjust gap between cards as desired */
    overflow-x: hidden; /* Enable horizontal scrolling */
}
.card{
    border-radius: 10px;
}
.aboutus h2{
    text-align: center;
    color: orange;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(56deg,orange,rgb(255, 65, 52));
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
}
.aboutus p{
    width: 100%;
    color: white;
}
.aboutus .card-text{
    color: black;
}
.aboutus .card-title{
    text-align: center;
    text-transform: uppercase;
}

/* dropdown */
.dropdown-menu {
    margin: 0;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 0;
  }
  
  .dropdown-item {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    color: #141414;
  }
  
  .dropdown-item:hover {
    color: #f5f5f5;
  }
/* .carousel-container {
    position: relative;
    width: 100%;
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  img {
    width: 100%;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .prev-btn {
    left: 10px;
    
  }
  
  .next-btn {
    right: 10px;
  } */